body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E9FFF1;
    color: #7e827f;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 80%;
    max-width: 700px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.topo {
    text-align: center;
    margin-bottom: 20px;
    color: #2e7d32;
}

.diario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    resize: none;
    line-height: 1.5;
    color: #2e7d32;
}

textarea:focus {
  outline: none;
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.refeicoes {
  margin-top: 25px;
  background-color: #F1FAEE;
  padding: 15px;
  border-radius: 10px;
}

.refeicoes h3 {
  margin-top: 0;
  color: #1D3557;
}

.refeicoes div {
  background-color: #fff;
  border-left: 4px solid #A8DADC;
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
}